/* SEVICES */

.services{
    position: relative;
}

.services .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__text{
    width: 50%;
}

.s__img{
    width: 45%;
    display: block;
}

.services_img{
    width: 100%;
    box-shadow: var(--box__shadow);
    object-fit: cover;
}

.services__bg{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: var(--main__color);
    z-index: -1;
}

/* PORTFOLIO */

.portfolio__cards{
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}