.navbar{
    height: 75px;
}

.contain__social__icons{
    width: 200px;
}

.contain__social__icons i{
    font-size: 18px;
    padding: 0 15px;
}

/* header */

.header{
    background-color: var(--main__color);
    background-image: unset;
}

.header .container{
    left: 5%;
    width: 40%;
    padding-right: 30px;
}

.header .container p{
    width: 100%;
}

.header__img{
    display: block;
    width: 55%;
    height: 100%;
    background-color: var(--main__color);
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    position: absolute;
    right: 0;
}

/* ABOUT */

.about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__text{
    width: 55%;
}

.about__img{
    width: 43%;
    height: 40vh;
}

.about__background{
    width: 60%;
    height: 100%;
}