*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'overpass', 'sorce sans pro', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --main__color:#6357FF;
    --black__color:#1D1D1B;
    --white__color:#FFFFFF;
    --box__shadow: 0 0px 30px rgba(0,0,0,0.3);
}

body{
    background-color: var(--white__color);
}

.container{
    width: 90%;
    margin: 0 auto;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

.navbar,
.contain__social__icons{
    display: flex;
    align-items: center;
}

.logo a{
    font-size: 30px;
    color: var(--white__color);
    padding-left: 30px;
    color: var(--white__color);
}

.contain__social__icons{
    background-color: var(--main__color);
    height: 100%;
    width: 150px;
    justify-content: center;
    z-index: 3;
}

.contain__social__icons i{
    font-size: 15px;
    color: var(--white__color);
    cursor: pointer;
    padding: 0 10px;
}

/* HEADER */

.header{
    height: 100vh;
    background-color: var(--main__color);
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.header .container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: var(--white__color);
}

.header .slogan,
.header .title{
    color:var(--white__color);
}

.slogan{
    text-transform: uppercase;
    color:var(--main__color);
    margin-bottom: 30px;
}

.title{
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--main__color);
    margin-bottom: 30px;
}

.header .container p{
    width: 60%;
}

.header .container h1,
.header .container p
{
    margin-bottom: 30px;
}

.header__description{
    font-size: 16px;
    line-height: 1.6em;
}

.header__btn{
    border: none;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.header__btn a{
    color: var(--black__color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img{
    display: none;
}

/* SECTION */

section{
    padding: 100px 0;
}

/* ABOUT */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about .slogan{
    color: var(--main__color);
}

.about p{
    color: var(--white__color);
    line-height: 1.6em;
    font-weight: 300;
}

.about__img{
    width: 100%;
    height: 300px;
    background-color: #f2F2F2;
    margin-top: 50px;
    object-fit: cover;
}

.about__background{
    width: 100%;
    height: 100%;
    background-color: var(--black__color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* SEVICES */

.contain__services__card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.services__card{
    width: 48%;
    margin-bottom: 75px;
}

.carre{
    width: 20px;
    height: 30px;
    border: 1px solid var(--main__color);
    margin-bottom: 20px;
}

.services__card h2{
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.services__card h2::before{
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: var(--main__color);
    margin-right: 20px;
}

.services__card p{
    font-weight: 300;
    color: rgba(0,0,0,0.7);
    line-height: 1.6em;
}

.s__img{
    width: 50%;
    display: none;
}

.services_img{
    width: 100%;
}

.services__bg{
    display: none;
}

/* PORTFOLIO */
.portfolio{
    padding-top: 0;
}

.portfolio__text{
    text-align: center;
}

.portfolio__cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
}

.portfolio__card{
    height: 400px;
    width: 100%;
    object-fit: cover;
}